h1{
  text-align: center;
  margin: 40px 0 40px;
  font-size: 55px;
  color: rgb(255, 111, 0);
  text-shadow: 2px 2px 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: overline;
  font-weight: 700;
  
}
ul{
  display: flex;
}
li{
  padding: 20px 20px;
}
a{
  font-size: 30px;
  color: rgb(255, 111, 0);;
}
h2{
  font-size: 26px;
  text-align: center;
}
